CursoEFCore/obj/CursoEFCore.csproj.EntityFrameworkCore.targets
CursoEFCore/obj/CursoEFCore.csproj.nuget.dgspec.json
CursoEFCore/obj/CursoEFCore.csproj.nuget.g.props
CursoEFCore/obj/CursoEFCore.csproj.nuget.g.targets
CursoEFCore/obj/project.assets.json
CursoEFCore/obj/project.nuget.cache
CursoEFCore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
CursoEFCore/obj/Debug/netcoreapp3.1/apphost.exe
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.AssemblyInfo.cs
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.AssemblyInfoInputs.cache
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.assets.cache
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.csproj.CopyComplete
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.csproj.CoreCompileInputs.cache
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.csproj.FileListAbsolute.txt
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.csprojAssemblyReference.cache
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.dll
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.genruntimeconfig.cache
CursoEFCore/obj/Debug/netcoreapp3.1/CursoEFCore.pdb
CursoEFCore/bin/Debug/netcoreapp3.1/CursoEFCore.deps.json
CursoEFCore/bin/Debug/netcoreapp3.1/CursoEFCore.dll
CursoEFCore/bin/Debug/netcoreapp3.1/CursoEFCore.exe
CursoEFCore/bin/Debug/netcoreapp3.1/CursoEFCore.pdb
CursoEFCore/bin/Debug/netcoreapp3.1/CursoEFCore.runtimeconfig.dev.json
CursoEFCore/bin/Debug/netcoreapp3.1/CursoEFCore.runtimeconfig.json
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
CursoEFCore/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
CursoEFCore/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
CursoEFCore/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
CursoEFCore/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
CursoEFCore/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
CursoEFCore/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
CursoEFCore/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
CursoEFCore/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
CursoEFCore/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
CursoEFCore/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
CursoEFCore/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
CursoEFCore/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
CursoEFCore/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
CursoEFCore/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
CursoEFCore/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
.vscode/launch.json
.vscode/tasks.json
